/* style.css */
body {
    font-family: 'Arial', sans-serif;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex; /* Use flexbox to align items horizontally */
    justify-content: space-around; /* Add space around items */
    background-color: #04aa6d; /* Change to the desired color */
    border-radius: 10%;
}

.checkbox-container {
    margin-right: 2px; /* Adjusted margin for separation */
    position: absolute; /* Position absolutely */
    left: 2%; /* Align to the left */
    top: 10%;
}

.checkbox-group {
    background-color: #04aa6d; /* Match the container background color */
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.login-container,
.welcome-container {
    background-color: #04aa6d;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: auto;
}

#bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.login-container h2,
.welcome-container h1 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

input[type="text"],
input[type="password"],
button {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

input[type="text"],
input[type="password"] {
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.logout-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #dc3545;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

.logout-button:hover {
    background-color: #c82333;
}

.topnav {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}
.topnav .logo {
    max-width: 100px;
    max-height: 60px;
    margin-right: 10px; 
    margin-left: 400px;
    margin-top: 5px;
    justify-content: center;
  }
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}
.topnav a.logout-button {
    float: right;
    background-color: red; 
    border-radius: 5px;
} 
  .topnav a.logout-button:hover {
    background-color: darkred; 
  }
  
  

/* Style for checkboxes */
.checkbox-group label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    color: #fff;
}

.checkbox-group input {
    margin-right: 5px;
    width: 20px;
    height: 20px;
}

.checkbox-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Additional styles for filters.html */
.title {
    font-size: 30px;
    font-weight: bold;
    margin-left: 20px;
    color: #fff;
}

.input-bar {
    display: none;
    margin-top: 10px;
    margin-left: 20px;
    color: #fff;
}

.checkbox-group input[type="checkbox"] {
    margin-right: 10px;
}

/* .back-to-explore {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #04aa6d;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.back-to-explore:hover {
    background-color: #038e5e;
} */
